<script src="/static/client/account.js"></script>

<div id="main" class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Account</div>
                <div class="panel-body"> 
                    <div class="form-group">
                        <input id="username" type="text" data-bind="value : username" placeholder="username" class="form-control"></input>
                        <input id="email" type="email" data-bind="value : email" placeholder="user@example.com" class="form-control"></input>
                        <input id="rank" type="number" data-bind="value : rank" placeholder="0" class="form-control"></input>
                        <button data-bind="click : fnSave" class="btn btn-default">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



