<script src="/static/client/index.js"></script>
<div id="main" class="container">
    <div class="row">
        Welcome! This is NRAM, a tool for salty customs I made for a few friends.
    </div>
</div>


