<script src="/static/client/lobbyindex.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Create New Lobby</div>
                <div class="panel-body"> 
                    <div class="form-group">
                        <input id="lobbyName" type="text" data-bind="value : newLobbyName" placeholder="Name" class="form-control"></input>
                        <button data-bind="click : fnAddLobby" class="btn btn-default">Create</button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Lobbys</div>
                <div class="panel-body">
                    <div class="btn-group-vertical" data-bind="foreach: lobbyListDisplay" role="group" aria-label="...">
                        <button type="button" class="btn btn-default" data-bind="text : $data.displayName, class : $data.cssClass, click : $parent.fnJoinLobby"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>